 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1344px;
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 348px;
  background-image: url("images/myphoto.png");
  background-position: 50% 50%;
  margin: 20px auto 0 709px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 146px;
  margin: -245px 431px 0 108px;
}

.u-section-1 .u-group-1 {
  width: 852px;
  min-height: 168px;
  height: auto;
  margin: 100px auto 0 83px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 7px;
  padding-left: 7px;
}

.u-section-1 .u-text-1 {
  font-family: Source Code Pro;
  margin: 0 325px 0 23px;
}

.u-section-1 .u-line-1 {
  width: 113px;
  transform-origin: left center 0px;
  margin: 0 auto 0 23px;
}

.u-section-1 .u-text-2 {
  font-family: Source Code Pro;
  margin: 37px auto 0 184px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Source Code Pro;
  margin: 0 auto 0 184px;
}

.u-section-1 .u-text-4 {
  font-family: Source Code Pro;
  margin: -74px auto 0 33px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Source Code Pro;
  margin: 0 auto 0 33px;
}

.u-section-1 .u-text-6 {
  font-family: Source Code Pro;
  margin: -74px 270px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Source Code Pro;
  margin: 0 119px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 852px;
  min-height: 678px;
  height: auto;
  margin: 108px auto 21px 83px;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 15px;
}

.u-section-1 .u-text-8 {
  margin: 0 312px 0 30px;
}

.u-section-1 .u-line-2 {
  width: 113px;
  transform-origin: left center 0px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-family: Source Code Pro;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 23px auto 0 7px;
}

.u-section-1 .u-image-2 {
  width: 66px;
  height: 66px;
  margin: -74px 52px 0 auto;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-family: Source Code Pro;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 28px auto 0 7px;
}

.u-section-1 .u-image-3 {
  width: 134px;
  height: 35px;
  margin: -58px 18px 0 auto;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-family: Source Code Pro;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 43px auto 0 7px;
}

.u-section-1 .u-image-4 {
  width: 134px;
  height: 35px;
  margin: -58px 18px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 134px;
  height: 35px;
  margin: 64px 18px 0 auto;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-family: Source Code Pro;
  font-size: 2.25rem;
  font-weight: 400;
  margin: -59px auto 0 7px;
}

.u-section-1 .u-image-6 {
  width: 140px;
  height: 53px;
  margin: 33px 12px 0 auto;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 0px;
  border-style: solid;
  text-transform: uppercase;
  font-family: Source Code Pro;
  font-size: 2.25rem;
  font-weight: 400;
  margin: -67px auto 0 7px;
}

.u-section-1 .u-image-7 {
  width: 125px;
  height: 46px;
  margin: 36px 27px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-family: Source Code Pro;
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 400;
  margin: -64px auto 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 592px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 331px;
    margin-left: 8px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 372px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 227px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 210px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 192px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 169px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -237px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 97px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -141px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 81px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}