 .u-section-1 {
  background-image: none;
  background:black;
}

.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 348px;
  background-image: url("images/myphoto.png");
  background-position: 50% 50%;
  margin: 20px auto 0 709px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 146px;
  margin: -245px 431px 0 108px;
}

.u-section-1 .u-group-1 {
  width: 852px;
  min-height: 167px;
  margin: 100px auto 60px 83px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 7px;
  padding-left: 7px;
}

.u-section-1 .u-text-1 {
  font-family: Source Code Pro;
  margin: 0 325px 0 23px;
}

.u-section-1 .u-line-1 {
  width: 113px;
  transform-origin: left center 0px;
  margin: 0 auto 0 23px;
}

.u-section-1 .u-text-2 {
  font-family: Source Code Pro;
  margin: 37px auto 0 184px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Source Code Pro;
  margin: 0 auto 0 184px;
}

.u-section-1 .u-text-4 {
  font-family: Source Code Pro;
  margin: -74px auto 0 33px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Source Code Pro;
  margin: 0 auto 0 33px;
}

.u-section-1 .u-text-6 {
  font-family: Source Code Pro;
  margin: -74px 270px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Source Code Pro;
  margin: 0 119px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }
	.u-header .u-menu-1 {
	  width: auto;
	  margin-top: 22px;
	  margin-left: 0px;
	}
  .u-section-1 .u-image-1 {
    width: 308px;
    height: 308px;
    margin-top: 92px;
    margin-right: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: -227px;
    margin-right: 263px;
    margin-left: 76px;
  }



  .u-section-1 .u-group-1 {
    min-height: 168px;
    margin-top: 101px;
    margin-left: auto;
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -245px;
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 227px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 86px;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 363px;
    margin-top: 33px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 97px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -141px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 81px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 25px;
  }
}